* {
    color: white;
}

body {
    background-color: #1E1E1E;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

p, a, li, tr, th, td {
    font-family: "Raleway", sans-serif;
}

table {
    border-collapse: collapse
}

tr, th, td {
    text-align: left;
    padding: 10px;
}

th {
    color: #4FEDFF;
}

tr {
    border-bottom: 3px solid #FFFF;
}

li {
    margin-bottom: 20px;
    line-height: 130%;
}

#true-body {
    margin: 25px;
}

#nav {
    background-color: #4f4f4f;
}

#nav > span > a {
    color: #3AED69;
}

#nav > span > a:hover {
    color: #99ffb4;
}

#footer {
    text-align: center;
    margin-top: 50px;
}

#footer > * {
    margin: 0;
}

.lesson-color {
    color: #3AED69;
}

.assignment-color {
    color: #FF6721;
}

.exam-color {
    color: #F539A0;
}

.arrange-horizontally > * {
    display: inline-block;
}
.arrange-vertically > * {
    display: block;
}

.center-vertically-justified {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-vertically {
    display: flex;
    align-items: center;
}

.justified {
    display: flex;
    justify-content: space-between;
}

.tab-left-children > * {
    margin-left: 40px;
}

.tab-left {
    margin-left: 40px;
}

.tab-right {
    margin-right: 40px;
}

.space-right {
    margin-right: 10px;
}

.space-left {
    margin-left: 10px;
}

.no-underline-children > * {
    text-decoration: none
}

@media only screen and (min-width: 1200px) {
    .responsive-small {
        width: 70%
    }
}

@media only screen and (max-width: 1200px) {
    .responsive-small {
        width: 100%;
    }
}