#week-schedule-header > * {
    color: #4FEDFF;
}

#week-schedule-week {
    background: #4f4f4f;
    border: none;
}

#week-schedule-week {
    margin-bottom: 20px;
    padding: 10px;
}

@media only screen and (min-width: 800px) {
    #feedback-form {
        width: 600px;
    }
}

@media only screen and (max-width: 800px) {
    #feedback-form {
        width: 100%;
    }
}