#announcements {
    width: 25%;
    margin-right: 40px;
}

#announcements-header, #schedule-header {
    margin-bottom: 15px;
}

#schedule {
    width: 50%;
}

@media only screen and (max-width: 800px) {
    #announcements-schedule {
        display: block;
    }
    
    #announcements-schedule > * {
        box-sizing: border-box
    }
    
    #announcements {
        width: 100%;
    }
    
    #schedule {
        width: 100%;
    }
}